.popup__edit-data {
  border: 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 36px*2);
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 583px) {
  .popup__edit-data {
    width: calc(100% - 22px*2);
  }
}