.popup__button-save {
  width: 100%;
  margin: 48px auto 0;
  color: white;
  background-color: #000;
  padding: 14px 0;
  border: 0;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__button-save:hover {
  transition: opacity 0.5s linear;
  opacity: 0.8;
}

@media screen and (max-width: 593px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 0;
  }
}