.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  background-color: white;
  justify-content: space-between;
  padding: 34px 0 37px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}