.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: white;
  font-family: 'Inter', 'Arial', sans-serif;
  color: black;
  justify-content: space-between;
  padding: 34px 0 37px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 593px) {
  .popup__container {
    width: 282px;
    padding: 25px 0;
  }
}