.popup__form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 36px*2);
    margin: 0 auto;
}

@media screen and (max-width: 593px) {
    .popup__form {
        width: calc(100% - 22px*2);
    }
}