.profile__add-button {
  border: 2px solid #FFFFFF;
  background-color: inherit;
  margin: auto 0 auto auto;
  background: url(../../../images/add-button-plus.svg) no-repeat center;
  min-width: 150px;
  height: 50px;
}

.profile__add-button:hover {
  transition: opacity 0.5s linear;
  opacity: 0.6;   
}

@media screen and (min-width: 593px) and (max-width: 890px) {
  .profile__add-button {
    min-width: 120px;
  }
}

@media screen and (max-width: 593px) {
  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
  }
}