.profile__add-button {
  border: 1px solid #FFFFFF;
  background-color: inherit;
  margin: auto 0 auto auto;
  background: url(../../../images/add-button-plus.svg) no-repeat center;
  width: 150px;
  height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;   
}

@media screen and (max-width: 583px) {
  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
  }
}