.popup__input-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 27px;
  margin-top: 5px;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  position: relative;
}