.profile-info {
  max-width: calc(100% - 128px - 150px);
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

@media screen and (max-width: 593px) {
  .profile-info {
    max-width: 282px;
  }
}