.profile-info {
  max-width: calc(100% - 127.5px - 150px);
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

@media screen and (max-width: 583px) {
  .profile-info {
    max-width: calc(100% - 19px*2);
  }
}