.profile-info__name {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 593px) and (max-width: 890px) {
 .profile-info__name {
  font-size: 28px;
  line-height: 32px;
 }
}

@media screen and (max-width: 593px) {
  .profile-info__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}